<div class="loader_parent" *ngIf="_loaderService.canShowLoader">
    <div class="loader_background"></div>

    <div class="loader_img_parent">
        <img class="loader_img" src="assets/loader.gif" />
    </div>
</div>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" [hidden]="!_userClaimsService.isAuthenticated">
        <a class="navbar-brand" href="#">Restaurante: Pidalo con Rima</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/home">Administración Mesas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/menu">Administración Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="logout()">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
    
</div>
