<div>
    <img id="imgChair" src="assets/spChair.png" style="display:none" />
    <img id="imgTables" src="assets/spTables.png" style="display:none" />
</div>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" class="active">
        <div id="parent-detail-canvas">
            <canvas id="canvas-detail-selector" width="150" height="100">
            </canvas>
            <div id="spinner-parent">
                <label># Clientes</label>
                <p></p>
                <input id="spinner-clients" name="value" [disabled]="_userClaimsService.isCooker">
            </div>
        </div>
        
        <!-- Controls for the Table -->
        <div>
        
            <div class="row">
                <div class="col-sm-12">
                    <h4>Menus ordenados:</h4>
                </div>
            </div>
            
            <div id="table-menu-orders" class="row">
                <table class="table">
                  <thead class="table-menu-orders-header">
                    <tr>
                      <th class="table-th-correlative-header" scope="col">#</th>
                      <th class="table-th-image-header" scope="col">Foto</th>
                      <th class="table-th-menu-header" scope="col">Plato</th>
                      <th class="table-th-menuPrice-header" scope="col">Precio</th>
                      <th scope="col">Cambiar a:</th>
                    </tr>
                  </thead>
                  <tbody class="table-menu-orders-body">
                    <tr *ngFor="let menuOrder of GetConsumerMenusFromDetails;  let i = index">
                        <th scope="row">{{ (i + 1) }}</th>
                            <td>
                                <div class="table-td-menuImage">
                                    <img class="img-menuImage" src="{{menuOrder.consumerMenu.imageUrl}}" />
                                </div>
                            </td>
                            <td class="table-td-menuName">
                                <div>
                                    {{ menuOrder.consumerMenu.name }}
                                </div>
                                <div class="tbody-menu-order-status">
                                    <b>{{ convertOrderStatusToString(menuOrder.idOrderStatusType) }}</b>
                                </div>
                            </td>
                            <td class="table-td-menuPrice">S/ {{ menuOrder.consumerMenu.price.toFixed(2) }}</td>
                            
                            <td [hidden]="_tableDetailManager.isHiddenRemoveButton(menuOrder.idOrderStatusType)">
                                <button type="button" class="btn" (click)="_tableDetailManager.removeMenu(menuOrder._id)">
                                    <span class="glyphicon glyphicon-remove"></span>X
                                </button>
                            </td>
                            
                            <td [hidden]="_tableDetailManager.isHiddenStatusChangeButton(menuOrder.idOrderStatusType)">
                                <button type="button" class="btn" (click)="_tableDetailManager.changeStatusTo(menuOrder)">
                                    <img class="img-status-change" src="{{ _tableDetailManager.getChangeToStatusImgSrc(menuOrder.idOrderStatusType) }}" />
                                </button>
                            </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table">
                  <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="table-td-totalPrice">Total:</td>
                        <td class="table-td-totalPrice">S/ {{ GetTableTotalPrice }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="table-td-totalPrice">Debe:</td>
                        <td class="table-td-totalPrice">S/ {{ GetTableDebt }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ngbd-modal-component 
                        [hidden]="_userClaimsService.isCooker"
                        [modalType]="'menus'" 
                        [onCallback]="_tableDetailManager.onChooseMenuDish">
                    </ngbd-modal-component>
                    <p></p>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn" 
                        [hidden]="_userClaimsService.isCooker"
                        [disabled]="!AreAllOrderCanceled"
                        (click)="_tableDetailManager.freeTable()">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        Liberar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn" (click)="_tableDetailManager.cancel()">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        Cancelar
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary"
                        (click)="_tableDetailManager.save()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Guardar
                    </button>
                </div>
            </div>
        
        </div>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <h4> Escoja una Mesa</h4>
        
        <div id="parent-canvas" (mousedown)="onMouseDown_TableCanvas($event)">
            <canvas id="canvas-selector" width="400" height="300">
            </canvas>
        </div>
    </div>
</div>  